#apihelper-help {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}
#apihelper-output {
  margin-top: 20px;
  overflow-x: auto;
}
.apihelper-fail {
  color: #B94A48;
  background-color: #EED3D7;
}
.apihelper-success {
  color: #3C763D;
  background-color: #DFF0D8;
}
