{% extends 'page.html' %}

{%- block subtitle %}API Helper{% endblock -%}

{%- block styles %}
{{ super() }}
{% resource 'ckanext-apihelper/css/apihelper.css' %}
{% endblock -%}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('API Helper'), controller='ckanext.apihelper.plugin:APIHelperController', action='get' %}</li>
{% endblock %}


{% block content_primary_nav %}
{{ h.build_nav_icon('apihelper_get', _('Get')) }}
{{ h.build_nav_icon('apihelper_create', _('Create')) }}
{{ h.build_nav_icon('apihelper_update', _('Update')) }}
{{ h.build_nav_icon('apihelper_delete', _('Delete')) }}
{% endblock %}

{% block primary_content_inner %}
  <article class="module">
    <div class="module-content">
      <form class="dataset-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form">
      {% block action_form %}
        <h1 class="page-heading">{{ _('GET API') }}</h1>
        <div class="control-group">
          <label class="control-label" for="field-actions">{{ _("Actions") }}</label>
          <div class="controls">
            <select id="field-actions" name="actions" data-module="autocomplete apihelper">
              {% for action, help in h.apihelper_action_list().iteritems() %}
              <option value="{{ action }}">{{ action }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div id="apihelper-help">
        </div>
      {% endblock %}
      </form>
    </div>
  </article>
{% resource 'ckanext-apihelper/scripts/apihelper.js' %}
{% endblock %}

{% block secondary %}
  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
        <h1 class="heading">Bleh</h1>
      </div>
    </div>
  </section>
{% endblock %}


{%- block scripts %}
<script>
  var action_help = {{ h.dump_json(h.apihelper_action_list()) | safe }};
</script>
{{ super() }}
{% endblock -%}
